.copy-right-container {
  text-align: center;
  padding: 20px;
}

.copy-right-line {
  width: 1140px;
  border: none;
  border-top: 2px solid var(--primary-color);
  margin: 0 auto; /* Center the line */
}

.copy-right-text {
  font-size: 0.9rem;
  color: black;
  margin: 0 auto;
  max-width: 1140px;
  text-align: left; /* Aligns the text to the left */
  padding-top: 10px; /* Adds a little space between the line and text */
}

@media (max-width: 768px) {
  .copy-right-line {
    width: 99%;
  }
  .copy-right-text {
    width: 99%;
  }
}

@media (max-width: 1270px) {
  .copy-right-line {
    width: 80%;
  }
  .copy-right-text {
    width: 80%;
  }
}
