.services-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Set two columns */
  gap: 20px;
}

.service-item {
  background-color: transparent; /* Make the background fully transparent */
  padding: 20px;
  min-height: 200px;
  position: relative;
  border: none; /* Remove any borders */
  box-shadow: none; /* Allows absolute positioning of logo */
}

.logo-container {
  position: absolute;
  background-color: var(--primary-color);
  top: 10px;
  right: 10px; /* Positions the logo in the top right */
  width: 12%; /* Adjust size as needed */
  height: 25%; /* Adjust size as needed */
  display: flex;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
}

.text-container {
  padding-right: 0px;
  margin: 45px 69px;
  max-width: 400px;
  color: var(--third-color);
}

.service-logo {
  width: 40px; /* Adjust size if needed */
  height: 40px;
}

.service-item h2 {
  margin-top: 0;
  font-size: 2.5rem;
}

@media screen and (max-width: 768px) {
  .services-list {
    grid-template-columns: 1fr; /* Stack items in one column on smaller screens */
  }
  .text-container {
    padding-right: 0; /* Remove padding on smaller screens */
  }
}
