/* Main container */
.main-container {
  width: 75%;
  margin: 80px auto;
  display: flex;
  height: 27rem;
  justify-content: space-between;
  transition: transform 0.6s ease-in-out;
  position: relative;
  border-radius: 15px; /* Add border radius */
  overflow: hidden; /* Optional: to hide overflow from child elements */
}

/* Left container */
.left-container {
  width: 35%;
  padding: 20px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: flex; /* Enable Flexbox */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  text-align: center;
  height: 100%; /* Use full height of the main container */
  transition: transform 0.6s ease-in-out;
}

/* Right container */
.right-container {
  width: 65%;
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex; /* Enable Flexbox */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center align the content */
  height: 100%; /* Use full height of the main container */
  transition: transform 0.6s ease-in-out;
}

/* Switch effect */
.switch .left-container {
  transform: translateX(100%);
}

.switch .right-container {
  transform: translateX(-100%);
}

/* Buttons */
.contact-btn,
.back-btn {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 15px;
}

.contact-btn:hover,
.back-btn:hover,
.send-btn:hover {
  background-color: #f0f0f0;
}

/* Send button */
.send-btn {
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

/* Input styles */
.input-email,
.message-textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
}

.input-email {
  height: 40px;
}

.message-textarea {
  height: 100px;
  resize: none;
}

/* Image styles */
.my-pic {
  width: 150px; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
  border-radius: 50%; /* Make it circular */
  margin-bottom: 10px; /* Space between image and text */
}
