.main_home_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--third-color);
}

h1 {
  max-width: 900px;
  font-size: 3.5rem;
  margin-bottom: 40px;
  color: var(--third-color);
}

@media (max-width: 1270px) {
  .main_home_container {
    height: 60vh;
  }
}
