/* General Page Styles */
.about-page {
    font-family: Arial, sans-serif;
    padding-bottom: 100px;
  }

  /* Full Page Section for Introduction */
.full-page-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    text-align: center;
    background-color: #fff;
  }

  
.full-page-section h1 {
    font-size: 3rem;
    color: var(--third-color);
  }