/* Content Section with Image and Text */
.content-section {
  display: flex;
  align-items: center;
  padding: 50px;
  min-height: 100vh;
}

/* Reverse Layout for Alternating Sections */

.reverse {
  flex-direction: row-reverse;
}

.text-content {
  max-width: 60%;
  font-size: 1.2rem;
  line-height: 1.6;
}
